<li>
  <div class="well">
    <img src={{blog.image}}>
    <div class="row">
      <div class="col-m-6">
        <h4>
          author: {{blog.author}}
        </h4>
        <p>{{blog.content}}</p>
      </div>
    </div>
  </div>
</li>
