<div class="blog-tile">
<button class="btn" {{action 'delete' blog}}>Delete</button>
<div class="well">
<!-- <img src={{blog.image}}/> -->
<p>
{{blog.content}}
</p>
</div>
</div>

<div class="blog-tile">
  <h2 class="center">Comments</h2>
<ul>
{{#each blog.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment"}}
{{/each}}
</ul>
</div>
