<li>
  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <img src={{blog.image}}>
      </div>
      <div class="col-lg-6">
        <h4>
          author: {{blog.author}}
        </h4>
        <p>{{blog.title}}</p>
        {{#link-to 'blog' blog.id}}read more{{/link-to}}
      </div>
    </div>
  </div>
</li>
