<button {{action 'delete' blog}}>Delete</button>
<div class="well">
<img src={{blog.image}}/>
<p>
{{blog.content}}
</p>
</div>

<div class="well white">
  <h2>Comments</h2>
<ul>
{{#each blog.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment"}}
{{/each}}
</ul>
</div>
