<div class="main-page well">
    <li>
      {{comment.content}}
      <br>
      <br>
      comment by: <span class="orange">{{comment.author}}</span>
      <button class="btn" {{action 'delete' comment}}>Delete</button>
    </li>
</div>
