<div class="well">
  <div class="row">
    <li>
      <div class="col-lg-6">
        {{comment.author}}
      </div>
      <div class="col-lg-6">
        {{comment.content}}
      </div>
    </li>
  </div>
</div>
