.jumbotron {
  background-image: url('./img/jumbo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}

body {
  background: #060e1b;
}

li {
  list-style-type: none;
}

.container {
  background-color: #fff;
}

.row img {
  width: 450px;
}


/*canvas {
//opacity: 0.5;
height: 250px;
}*/
