.jumbotron {
  background-image: url('./img/jumbo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 350px;
}

body {
  background-image: url('./img/background.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Quantico', sans-serif;
  color: #fff;
}

li {
  list-style-type: none;
}

header {
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 2px #fff;
  font-family: 'Aldrich', sans-serif;
}

header.main-page {
font-family: 'Russo One', sans-serif;
font-size: 45px;
}


/*fonts*/
/*
font-family: 'Russo One', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Quantico', sans-serif;
*/

img .well {
  box-shadow: inset 1px -3px 3px;
  border-radius: 20px;
}

footer {
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px #fff;
  font-size: 25px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.navbar-brand a {
  color: #000;
  font-size: 25px;
  margin-right: 10px;
}

.navbar .btn {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
}

.row img {
  width: 450px;
}

.white {
  background-color: #fff;
}

.orange {
  color: orange;
}

.blog-tile .well {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: 1px 3px 15px, inset 1px -3px 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 45px;
  /*border: solid 2px red;*/
  padding: 30px;
  text-align: justify;
  font-size: 18px;
}

.blog-tile .well a {
  color: orange;
}

.blog-tile .well a:hover , a:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  color: #fff;
  text-shadow: 5px 5px 5px #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

#button-float .btn, .btn {
  background-color: black;
  color: #fff;
  float: right;
}


#blog-detail {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: 1px 3px 15px, inset 1px -3px 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 45px;
}
/*canvas {
//opacity: 0.5;
height: 250px;
}*/
