<h1>Welcome to Undefined-access</h1>
<p>
  This webpage was created at Epicodus, which is a coding school located in Portland, Oregon. This webpage does not promote the existence of aliens. It was simply a school project. 
</p>
