<div class="center">
  <p>
    Please under no circumstances contact the creators of this webpage.
    We are in no way affliated with the activity of this webpage. If you or anyone you know would like to pursue investigating a claim on this website, please contact your local authorities or healthcare specialists.
  </p>
</div>
