<header class="main-page">
  <p>Welcome to Undefined-Access</p>
  <p>Where undefined variables are our frienz</p>
</header>
<span id='button-float'>
  {{new-blog saveBlog="saveBlog"}}
</span>
<br>
<br>
<ul>
  {{#each model.blogs as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}
</ul>
<hr>
